<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACE-UP</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="Styles/style.css" />
    <link rel="stylesheet" href="Styles/cart.css" />
    <link rel="stylesheet" href="Styles/wishlist.css" />
    <link rel="stylesheet" href="Styles/gvault.css" />
    <link rel="stylesheet" href="Styles/helpline.css" />
    <link rel="stylesheet" href="Styles/new_release.css" />
    <link rel="stylesheet" href="Styles/top_picks.css" />
    <link rel="stylesheet" href="Styles/trending_game.css" />
    <link rel="stylesheet" href="Styles/account.css" />
    <link rel="stylesheet" href="Styles/contact.css" />
    <link rel="stylesheet" href="Styles/payment.css" />
    <link rel="stylesheet" href="Styles/tech_supp.css" />
    <link rel="stylesheet" href="Styles/download.css" />
    <link rel="stylesheet" href="Styles/game_issue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <%- include("../partials/header.ejs") %> <%-
    include("../partials/sidebar.ejs") %> <%- body %> <%-
    include("../partials/footer.ejs") %>
    <script src="javascript/script.js"></script>
    <script src="javascript/cart.js"></script>
    <script src="javascript/wishlist.js"></script>
  </body>
</html>
=======
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="/Styles/cart.css">
    <link rel="stylesheet" href="/Styles/wishlist.css">
    <link rel="stylesheet" href="/Styles/gvault.css">
    <link rel="stylesheet" href="/Styles/helpline.css">
    <link rel="stylesheet" href="/Styles/new_release.css">
    <link rel="stylesheet" href="/Styles/top_picks.css">
    <link rel="stylesheet" href="/Styles/trending_game.css">
    <link rel="stylesheet" href="/Styles/account.css">
    <link rel="stylesheet" href="/Styles/contact.css">
    <link rel="stylesheet" href="/Styles/payment.css">
    <link rel="stylesheet" href="/Styles/tech_supp.css">
    <link rel="stylesheet" href="/Styles/download.css">
    <link rel="stylesheet" href="/Styles/game_issue.css">
    <link rel="stylesheet" href="/Styles/game.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/sidebar.ejs") %>
    
        <%- body %>
    
    <%- include("../partials/footer.ejs") %>
    <script src="/javascript/script.js"></script>
    <script src="/javascript/cart.js"></script>
    <script src="/javascript/wishlist.js"></script>
</body>
</html>
>>>>>>> abc7286a1f019e863144568df842061310ae1649
