<div class="main-content-wishlist">
    <h2 class="heading">Your wishlist</h2>
    <% let wish_item=0; %>
    <div class="hcont">
        <% user.wishlisted.forEach(wish=> { %>
            <% wish_item++; %>
            <div class="wishlist-item">
                <img src="<%= wish.banner %>" alt="<%= wish.name %>" class="game-image">
                <div class="game-info">
                    <h3>
                        <%= wish.name %>
                    </h3>
                    <p class="game-description">
                        <%= wish.dialouge %>
                    </p>
                    <p class="game-price">
                        <%= wish.price %>
                    </p>
                </div>
                <div class="wishlist-buttons">
                    <button class="remove-btnn" game-id="<%= wish._id %>" >Remove</button>
                    <button class="cart-btn" game-id="<%= wish._id %>">Move to Cart</button>
                </div>
            </div>
            <% }) %>
            <div class="wish-summary">
                <% if (wish_item===0) { %>
                    <h2 class="wish-total-text">No items in the wishlist</h2>
                    <% }else{ %>
                        <h2 class="wish-total-text">No of Items are -><%= wish_item %>
                        </h2>
                        <% } %>
            </div>
    </div>
</div>